.vinyl-card {
  position: relative;
  height: 100%;
  width: 100%;
}

.vinyl-card-add {
  position: absolute;
  top: var(--spacing-large);
  right: var(--spacing-large);
  z-index: 2;
}

.vinyl-card-wrapper {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-large);
  flex-shrink: 0;
  background-color: var(--vinyl-card-color);
  margin: var(--spacing-medium);
  height: auto;
}

.vinyl-card-image {
  aspect-ratio: 1 / 1;
  width: 150px;
  border-radius: var(--border-radius-small);
  object-fit: cover;
}

.vinyl-card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  width: 100%;
  text-align: left;
  align-items: flex-start;
}

.vinyl-card-content-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 100%;
}

.vinyl-card-content-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vinyl-card-category,
.vinyl-card-featuring,
.vinyl-card-title,
.vinyl-card-composer,
.vinyl-card-country {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  margin: 0;
}

.vinyl-card-category,
.vinyl-card-featuring {
  font-weight: var(--font-weight-thin);
}

.vinyl-card-title {
  font-size: var(--font-size-large);
}

.vinyl-card-composer,
.vinyl-card-country {
  font-size: var(--font-size-medium);
}
